- const lang = htmlWebpackPlugin.options.templateVars.lang
- const path = htmlWebpackPlugin.options.templateVars.relativePath
doctype html
html(lang=lang.lang)
  include includes/head.pug
  body
    header.top
      nav
        ul.navigation.flex.row
          li
            a(href="./") #{lang.home}
          li
            a(href="docs.html") #{lang.docs}
          li
            a(href="https://github.com/azrsix/ue-scroll-js" target="_blank") #{lang.github}
        span.open-menu
          i.fas.fa-bars
    .docs-container
      aside.docs-menu.hidden.closed
        h1.docs-menu-title
          a(href="./") #{lang.title}
        ul
          li
            a(href="#getting-started") #{lang.gettingStarted}
          li
            a(href="#options") #{lang.options}
          li
            a(href="#examples") #{lang.examples}
        .docs-languages
          ul.flex.row.center
            li
              a(href=`${path}docs.html`) English
            li
              a(href=`${path}ja/docs.html`) 日本語
      main.docs
        span#getting-started.page-anchor
        .page
          .column
            h2.docs-title #{lang.gettingStarted}
            .docs-paragraph
              h3.docs-sub-title #{lang.installByNpm}
              pre.sample
                code $ npm install ue-scroll-js --save
              h3.docs-sub-title #{lang.orYarn}
              pre.sample
                code $ yarn add ue-scroll-js
            .docs-paragraph
              h3.docs-sub-title #{lang.usingCdn}
              pre.sample
                code
                  | &lt;link rel="stylesheet" href="//unpkg.com/ue-scroll-js@latest/dist/ue-scroll.min.css"&gt;
                  | &lt;script src="https://unpkg.com/ue-scroll-js"&gt;&lt;/script&gt;
            .docs-paragraph
              h3.docs-sub-title #{lang.basicUsage}
              pre.sample
                code.comment
                  | &lt;html&gt;
                  |   &lt;head&gt;
                  |     <span class="white">&lt;!-- #{lang.readCssAndJs} --&gt;
                  |     &lt;link rel="stylesheet" href="/path/to/ue-scroll-js/dist/ue-scroll.min.css"&gt;
                  |     &lt;script src="/path/to/ue-scroll-js/dist/ue-scroll.min.js"&gt;&lt;/script&gt;</span>
                  |   &lt;/head&gt;
                  |   &lt;body&gt;
                  |     &lt;main&gt;
                  |       Your main contents
                  |     &lt;/main&gt;
                  |     <span class="white">&lt;!-- #{lang.runThisScript} --&gt;
                  |     &lt;div id="ue-scroll" class="ue-scroll btn-white arrow-black circle shadow"&gt;&lt;/div&gt;
                  |     &lt;script&gt;
                  |       UeScroll.init();
                  |     &lt;/script&gt;</span>
                  |   &lt;/body&gt;
                  | &lt;/html&gt;
              h3.docs-sub-title #{lang.orSetInitialOptions}
              pre.sample
                code
                  | &lt;!-- #{lang.runThisScript} --&gt;
                  | &lt;div id="my-custom-id" class="ue-scroll btn-white arrow-black circle shadow"&gt;&lt;/div&gt;
                  | &lt;script&gt;
                  |   UeScroll.init({
                  |     element: '#my-custom-id',
                  |     scrollSpeed: 10
                  |   });
                  | &lt;/script&gt;
            .docs-paragraph
              h3.docs-sub-title #{lang.useOnEs6Modules}
              pre.sample
                code
                  | 'use strict';
                  | import ue from 'ue-scroll-js';
                  | // #{lang.runThisScript}
                  | ue.init();
              p.note #{lang.note.byTheDefault}
        span#options.page-anchor
        .page
          .column
            h2.docs-title #{lang.options}
            .docs-paragraph.options-wrap
              table.options
                thead
                  tr
                    th #{lang.key}
                    th #{lang.dataType}
                    th #{lang.defaultValue}
                    th.options-description #{lang.description}
                tbody
                  tr
                    td element
                    td String
                    td '#ue-scroll'
                    td.options-description #{lang.descriptionOf.element}
                  tr
                    td position
                    td Number
                    td 200
                    td.options-description #{lang.descriptionOf.position}
                  tr
                    td scrollSpeed
                    td Number
                    td 10
                    td.options-description #{lang.descriptionOf.scrollSpeed}
                  tr
                    td fadeSpeed
                    td Number
                    td 10
                    td.options-description #{lang.descriptionOf.fadeSpeed}
                  tr
                    td cancelByScroll
                    td Boolean
                    td true
                    td.options-description !{lang.descriptionOf.cancelByScroll}
                  tr
                    td cancelByClick
                    td Boolean
                    td true
                    td.options-description #{lang.descriptionOf.cancelByClick}
                  tr
                    td cancelByKeydown
                    td Boolean
                    td true
                    td.options-description #{lang.descriptionOf.cancelByKeydown}
            p.note #{lang.note.inAddition}
        span#examples.page-anchor
        .page
          .column
            h2.docs-title #{lang.examples}
            .docs-paragraph
              h2.docs-sub-title #{lang.circle}
              .flex.responsive.center.examples
                .sample-btn
                  .ue-scroll.btn-white.arrow-black.circle
                pre.sample
                  code &lt;div class="ue-scroll btn-white arrow-black circle"&gt;&lt;/div&gt;
              .flex.responsive.center.examples
                .sample-btn
                  .ue-scroll.btn-gray.arrow-white.circle
                pre.sample
                  code &lt;div class="ue-scroll btn-gray arrow-white circle"&gt;&lt;/div&gt;
              .flex.responsive.center.examples
                .sample-btn
                  .ue-scroll.btn-black.arrow-white.circle
                pre.sample
                  code &lt;div class="ue-scroll btn-black arrow-white circle"&gt;&lt;/div&gt;
              .flex.responsive.center.examples
                .sample-btn
                  .ue-scroll.btn-white.arrow-black.circle.shadow
                pre.sample
                  code &lt;div class="ue-scroll btn-white arrow-black circle shadow"&gt;&lt;/div&gt;
            .docs-paragraph
              h2.docs-sub-title #{lang.roundedRectangle}
              .flex.responsive.center.examples
                .sample-btn
                  .ue-scroll.btn-white.arrow-black.rounded-rectangle
                pre.sample
                  code &lt;div class="ue-scroll btn-white arrow-black rounded-rectangle"&gt;&lt;/div&gt;
              .flex.responsive.center.examples
                .sample-btn
                  .ue-scroll.btn-gray.arrow-white.rounded-rectangle
                pre.sample
                  code &lt;div class="ue-scroll btn-gray arrow-white rounded-rectangle"&gt;&lt;/div&gt;
              .flex.responsive.center.examples
                .sample-btn
                  .ue-scroll.btn-black.arrow-white.rounded-rectangle
                pre.sample
                  code &lt;div class="ue-scroll btn-black arrow-white rounded-rectangle"&gt;&lt;/div&gt;
              .flex.responsive.center.examples
                .sample-btn
                  .ue-scroll.btn-white.arrow-black.rounded-rectangle.shadow
                pre.sample
                  code &lt;div class="ue-scroll btn-white arrow-black rounded-rectangle shadow"&gt;&lt;/div&gt;
            .docs-paragraph
              h2.docs-sub-title #{lang.square}
              .flex.responsive.center.examples
                .sample-btn
                  .ue-scroll.btn-white.arrow-black.square
                pre.sample
                  code &lt;div class="ue-scroll btn-white arrow-black square"&gt;&lt;/div&gt;
              .flex.responsive.center.examples
                .sample-btn
                  .ue-scroll.btn-gray.arrow-white.square
                pre.sample
                  code &lt;div class="ue-scroll btn-gray arrow-white square"&gt;&lt;/div&gt;
              .flex.responsive.center.examples
                .sample-btn
                  .ue-scroll.btn-black.arrow-white.square
                pre.sample
                  code &lt;div class="ue-scroll btn-black arrow-white square"&gt;&lt;/div&gt;
              .flex.responsive.center.examples
                .sample-btn
                  .ue-scroll.btn-white.arrow-black.square.shadow
                pre.sample
                  code &lt;div class="ue-scroll btn-white arrow-black square shadow"&gt;&lt;/div&gt;
            .docs-paragraph
              h2.docs-sub-title #{lang.customize}
              .flex.responsive.center.examples
                .sample-btn
                  .ue-scroll.arrow-white.circle(style="background-color: #f69;")
                pre.sample
                  code &lt;div class="ue-scroll arrow-white circle" style="background-color: #f69;"&gt;&lt;/div&gt;
              .flex.responsive.center.examples
                .sample-btn
                  .ue-scroll(style="width: auto; height: auto; padding: 10px; background-color: #fff; border: 1px solid #ccc; border-radius: 50%;") Go!
                pre.sample
                  code &lt;div class="ue-scroll" style="width: auto; height: auto; padding: 10px; background-color: #fff; border: 1px solid #ccc; border-radius: 50%;"&gt;Go!&lt;/div&gt;
    include includes/footer.pug
    #ue-scroll.ue-scroll.btn-white.arrow-black.circle.shadow
    script.
      UeScroll.init();
    script(src=`${path}js/app.min.js`)
